.cardComp{
    position: absolute;
    z-index: 2;
    color: seashell;
    margin-left: 25%;
    margin-top: 12% ;
}

.box{
    height: fit-content;
    width:fit-content;
    background-color: grey;
    opacity: 75%;
    color: white;
    font-size: 16px;
    font-size: 1.2vw;
}

.header{
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 108px;
    width: 100%;
    padding-left: 44%;
    justify-content: space-between;
    color:aliceblue ;
}

.cust-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
