.cardComp {
  position: absolute;
  z-index: 2;
  color: seashell;
  margin-left: 25%;
  margin-top: 9%;
}

.box {
  height: fit-content;
  width: fit-content;
  background-color: #637373;
  opacity: 85%;
  color: white;
}

.header {
  position: absolute;
  z-index: 3;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin-top: 40vh;
  justify-content: space-between;
  color: aliceblue;
}

.header1 {
  position:fixed;
  z-index: 3;
}

.footer {
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.moving-btn {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}

.cust-ul {
  list-style-type: none;
  margin: 15px;
  padding: 2px;
  font-size: 22px;
  color: #ffeadb;
}

.cust-div {
  color: #ff9a76;
  font-size: 30px;
  font-weight: 500;
  font-family: sans-serif;
}
